.header{
    font-family: Bahnschrift;
    width: 200px;
    position: relative;
    top: 75px;
    left: 525px;
}

.introduction {
    width: 170px;
    position: relative;
    top: 75px;
    left: 525px;
    font-size: smaller;
}

.email-field{
    width: 200px;
    position:relative;
    top: 80px;
    left: 525px;
}

.button{
    position: relative;
    top: 90px;
    left: 525px;
    background-color: white;
    border-radius: 0px;
    width: 165px;
    height: 30px;
}

.button:hover{
    background-color: black;
    color: white;
}
