.header{
    font-family: Bahnschrift;
    width: 200px;
    position: relative;
    top: 70px;
    left: 525px;
}

.introduction {
    width: 190px;
    position: relative;
    top: 70px;
    left: 520px;
    font-size: smaller;
}

.start_button{
    background-color: white;
    border-radius: 0px;
    width: 155px;
    height: 30px;
    position: relative;
    top: 90px;
    left: 525px;
}

.start_button:hover{
    background-color: black;
    color: white;
}

.score_button{
    background-color: white;
    border-color: white;
    border-radius: 0px;
    width: 155px;
    height: 30px;
    position: relative;
    top: 90px;
    left: 525px;
}

.score_button:hover{
    background-color: black;
    color: white;
}

.help_button{
    background-color: white;
    border-radius: 0px;
    width: 155px;
    height: 30px;
    position: relative;
    top: 90px;
    left: 525px;
}

.help_button:hover{
    background-color: black;
    color: white;
}